@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$blueLight: lighten(#0af, 10%);
$backgroundColor: magenta;
$foregroundColor: black;

$dark: #000;
$light: #fff;

$zIndexModal: 100;
