@import '~Assets/scss/variables';

.Container {
  text-align: center;
}

.Header {
  background-color: lighten($backgroundColor, 20%);
  height: 50px;
  padding: 0px;
  color: $foregroundColor;
}

.Title {
  font-size: 1.5em;
}

.Intro {
  font-size: large;
}

::selection {
    color: red;
    background: yellow;
	}
